body {
    color: var(--blue);
    font-family: var(--main-font);
    margin: 0;
    background-color: var(--background);
}
header {
    background-color: var(--lighter-green);
}
main {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
section {
    margin-bottom: var(--space-lg);
    max-width: var(--layout-container-max);
}
button {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-family: var(--main-font);
    color: var(--darker-blue);
    text-transform: uppercase;
}
.navigation {
    display: flex;
    max-width: var(--layout-container-max);
    justify-content: space-between;
    margin-inline: auto;
/* need to add margin for small windows */
    align-items: center;
    justify-items: center;
}
.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: var(--space-lg);
}
.navigation ul li {
    list-style-type: none;
}
#footer ul{
    justify-content: flex-end;
    align-items: flex-end;
}
.left_nav {
    display: flex;
    align-items: center;
    justify-items: center;
}
.nav_links a{
    text-decoration: none;
    color: var(--blue);
}
.content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--layout-container-max);
    align-items: center;
    justify-content: center;
}
.text h1{
    font-weight: 800;
    font-size: var(--font-size-font-3xl);
    padding: var(--space-lg);
}
.todo_list {
    Padding: var(--space-xl);
}
.box {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    border-radius: var(--radius-lg);
    text-align: center;
    background: var(--note-page);
    gap: var(--space-sm);
}
.box p {
    margin: 0;
}
.checkbox_line {
    font-size: var(--font-size-font-xl);
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.checkbox_line li{
    margin: var(--space-sm) 0;
}
.checkbox_line label {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}
.checkbox_line input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    accent-color: var(--green);
    cursor: pointer;
}
.wavy_underline {
    display: inline;
    color: var(--darker-pink);
    border-bottom: 0.2rem dashed var(--darker-pink);
}
.icon_link{
    display: inline-flex;
    line-height: 0;
}
.pink_button {
    padding: var(--space-sm);
    border: 0;
    border-radius: var(--radius-md);
    font-weight: bold;
    background-color: var(--pink);
    cursor: pointer;
}
.yellow_button {
    padding: var(--space-sm);
    border: 0;
    border-radius: var(--radius-md);
    font-weight: bold;
    background-color: var(--yellow);
    cursor: pointer;
}
.autoplay_animation {
    display: block;
    width: 100vw;
    height: auto;
}
footer {
    background: linear-gradient(to top, var(--green), white);
    display: flex;
    flex-direction: column;
    margin: auto;}